
{%extends 'navbar.html'%}
{% block content %}
<div class="container text-center mt-5">
      <h2>Are you sure you want to delete this goal?</h2>
      <div class="row mt-4">
        <div class="col-6 text-end">
              <button onclick="deleteGoal()" class="btn btn-outline-danger">Yes, Delete</button>

        </div>
        <div class="col-6 text-start">
           <button onclick="window.location.href='/goal_list/'" class="btn btn-outline-success">Cancel</button>
   
        </div>
      </div>

</div>
  
{% endblock %}
{% block scripts%}
  <script>
    const goalId = "{{ goal_id }}";
    const API_URL = `/api/goals/${goalId}/`;

    

    async function deleteGoal() {
      let access = localStorage.getItem('accessToken');
      let res = await fetch(API_URL, {
        method: 'DELETE',
        headers: { 'Authorization': `Bearer ${access}` }
      });

      if (res.status === 401) {
        access = await refreshToken();
        res = await fetch(API_URL, {
          method: 'DELETE',
          headers: { 'Authorization': `Bearer ${access}` }
        });
      }

      if (res.ok) {
    
        window.location.href = '/goal_list/';
      } else {
        alert('Error deleting goal.');
      }
    }
  </script>

{% endblock scripts%}